body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}


#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bde0fe;

    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: #cdb4db ;
    border: none;

}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;

    color: white;
    background-color: #ffafcc;

    font-weight: bold;
    font-size: 3rem;

    cursor: pointer;

}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button:hover {
    background-color: hsl(338, 100%, 74%)
;
}

button:active {
    background-color: hsl(338, 100%, 64%);
}

.operator-btn{
    background-color: hsl(338, 100%, 90%);
}

.operator-btn:hover {
    background-color: hsl(338, 100%, 80%);
}

.operator-btn:active {
    background-color: hsl(338, 100%, 70%);
}